
<div class="container-fluid">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-sm-3 mb-3">
        <div class="card">
          <img class="card-img-top" img src="<%= booking.boat.photo %>">
          <div class="card-body">
            <h5 class="card-title"><%= booking.boat.name %></h5>
            <p class="card-text">Price: <%= booking.boat.price %></p>
            <p class="card-text">Location: <%= booking.boat.location %></p>
            <p class="card-text">Description: <%= booking.boat.description %></p>
            <p class="card-text">User Email: <%= booking.user.email %></p>
            <p class="card-text">Booking start date: <%= booking.start_date %></p>
            <p class="card-text">Booking end date: <%= booking.end_date %></p>
            <p class="card-text">Booking price: $$<%= booking.booking_price %></p>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
