<div class="container-fluid">
  <div class="row">
    <% @unique_boats.each do |unique_boat| %>

      <div class="col-sm-3 mb-3">

        <div class="card">

          <img class="card-img-top" img src="<%= unique_boat.photo %>">
          <div class="card-body">
            <h5 class="card-title"><%= unique_boat.name %></h5>
            <p class="card-text">Price $$: <%= unique_boat.price %></p>
            <p class="card-text">Location: <%= unique_boat.location %></p>
            <p class="card-text">Description: <%= unique_boat.description %></p>
            <div class="text-center">
              <%= link_to "More info", boat_path(unique_boat), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
