<!-- app/views/bookings/new.html.erb -->
<h1>New boat</h1>

<%= simple_form_for [@boat] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :location,
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
  %>
  <%= f.input :price %>
  <%= f.submit "Create Boat", class: "btn btn-primary" %>
<% end %>
