<!DOCTYPE html>
<html>
  <head>
    <title>Pirates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= # raise %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
    <% if current_user != nil %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}%>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Log in", new_user_session_path %>
    <% end %>
  </body>
</html>
